h1{
    color: rgb(90, 139, 207);
}
.titulo2{
    color: rgb(24, 160, 133);
    font-size: 16pt ;
}
body{
    background-color: rgb(114, 154, 150);
    font-family:American Typewriter, serif;
}
.content{
max-width: 400px;
width: 100%;
margin: 0 auto;
text-align: center;
}
.buttonCL{
    cursor: pointer;
    width: 80%;
    border-radius: 50px;
    background: #7210d5;
    color:#000;
    margin: 0 0 10px;
    padding: 10px;
    font-size: 20px;
    text-align:center ;
}
.buttonCL:hover{
    background: #25afb9;
}
.content{
  width: 600px;
  height: 500px;
  background-color: #0d1c62;
  border-radius: 50px;
  box-shadow: 10px 20px 20px #c7b0b0cc;
}
.nome2{
    border-radius: 60px;
    width: 350px;
    height: 30px; 
}
.nome2:hover{
    background-color: #4c80da;
    color: rgb(0, 0, 0);
}
.email2{
    border-radius: 60px;
    width: 350px;
    height: 30px;
 }
 .email2:hover{
    background-color: #25afb9;
    color: #000;
 }
.pass{
    border-radius: 60px;
    width: 350px;
    height: 30px;
 }
.pass:houver{
    background-color: #25afb9;
    color: #000;
}
.box{
    border-radius: 60px;
    width: 350px;
    height: 30px;
}
.box:houver{
    background-color: #25afb9;
    color: #000;
}
.rotulos{
    color: cadetblue;
}